*~
.vscode/
__pycache__/
.nicegui/
dist/
build/*
!build/installer.iss
!build/auto-py-to-exe.json
!build/hooks/
*.pyc
*PitchLoader Output*.ustx
*output*.ustx
settings.json
expressive_config.json
Expressive-GUI.spec
